#main-container{
    margin: 20px;
}

#my-button {
    padding: 6px 12px;
    background-color: white;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
    color: dodgerblue;
    border: dodgerblue solid 1px;
    transition-duration: 200ms;
}

#my-button:hover {
    color: white;
    background-color: dodgerblue;
}